In [1]:
import pandas as pd
import numpy as np
from numpy import dot
from numpy.linalg import norm 

# Don't collapse Pandas Dataframes:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

In [2]:
def normalize(data): ## Normalize Data between 0 and 1
    min_val = min(data)
    if min_val < 0:
        data = [x + abs(min_val) for x in data]
    max_val = max(data)
    normalized_data = [x/max_val for x in data]
    return normalized_data
  
def one_hot_encoding_column(df, column):
    ohe_df = pd.get_dummies(df[column])
    ohe_df.reset_index(drop = True, inplace = True)
    df = pd.concat([df, ohe_df], axis = 1)
    return df

def cosine_sim(v1,v2):
    cosine_similarity = sum(dot(v1,v2)/(norm(v1)*norm(v2)))
    return cosine_similarity

def recommend(df, book_id, number_of_recommendations):
    inputVec = df.loc[book_id].values
    df['Cosine Similarity']= df.apply(lambda x: cosine_sim(inputVec, x.values), axis=1)
    df = df.nlargest(columns='Cosine Similarity', n=number_of_recommendations) # returns top n user specified books
    return df

In [3]:
## Import Dataset
df = pd.read_csv('dataset.csv')
df['num_pages_norm'] = normalize(df['num_pages'].values)
df['book_rating_norm'] = normalize(df['book_rating'].values)
df['book_price_norm'] = normalize(df['book_price'].values)
print('Dataset Shape: {0}'.format(df.shape))
df.sort_values(['book_id'], ascending=False).head(20)

Dataset Shape: (100000, 13)

,book_id,author_id,book_genre,user_id,num_pages,book_rating,publisher_id,publish_year,book_price,text_lang,num_pages_norm,book_rating_norm,book_price_norm
85340,3000,139,1,29561,479,8,33,2016,92,7,0.684286,0.8,0.460
22544,3000,213,5,1954,159,5,42,2004,159,1,0.227143,0.5,0.795
63678,3000,402,1,4738,377,4,50,2004,26,6,0.538571,0.4,0.130
65210,3000,7,7,1794,145,5,2,2014,141,4,0.207143,0.5,0.705
94237,3000,313,5,10960,350,6,48,2010,78,2,0.500000,0.6,0.390
43063,3000,187,5,12893,664,6,2,2014,72,1,0.948571,0.6,0.360
77475,3000,39,3,12174,691,2,16,2020,81,5,0.987143,0.2,0.405
68483,3000,376,3,1928,329,8,27,2001,85,4,0.470000,0.8,0.425
25087,3000,282,3,1627,87,10,40,2003,79,5,0.124286,1.0,0.395
58198,3000,69,2,16670,123,7,45,2002,163,7,0.175714,0.7,0.815
7629,3000,76,1,23493,214,6,46,2002,146,1,0.305714,0.6,0.730
86248,3000,372,1,15061,577,7,11,2014,141,3,0.824286,0.7,0.705
30731,3000,340,2,17382,149,3,41,2018,85,5,0.212857,0.3,0.425
44416,3000,34,9,26408,445,10,17,2007,79,7,0.635714,1.0,0.395
80504,3000,96,2,14319,323,9,31,2013,70,1,0.461429,0.9,0.350
54972,3000,353,8,15821,127,10,17,2008,94,1,0.181429,1.0,0.470
72162,3000,354,1,15988,395,10,17,2014,100,4,0.564286,1.0,0.500
35907,3000,410,1,2625,531,5,32,2010,150,6,0.758571,0.5,0.750
6860,3000,398,7,23769,247,6,43,2008,107,5,0.352857,0.6,0.535
97543,3000,187,1,29760,300,7,22,2003,141,3,0.428571,0.7,0.705

In [4]:
df = one_hot_encoding_column(df = df, column = 'book_genre') # Feature & Labels
df = one_hot_encoding_column(df = df, column = 'publisher_id') # Feature & Labels
df = one_hot_encoding_column(df = df, column = 'book_rating_norm') # Feature & Labels
df.drop(columns = ['publish_year', 'num_pages', 'book_rating', 'book_price', 'text_lang'], inplace = True) # Remove Columns that aren't Features
df.set_index('book_id', inplace = True) # Set Instance as Index
df.sort_values(['book_id'], ascending=False).head()

,author_id,book_genre,user_id,publisher_id,num_pages_norm,book_rating_norm,book_price_norm,1,2,3,4,5,6,7,8,9,10,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1.0
book_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
3000,139,1,29561,33,0.684286,0.8,0.460,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3000,213,5,1954,42,0.227143,0.5,0.795,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3000,402,1,4738,50,0.538571,0.4,0.130,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0
3000,7,7,1794,2,0.207143,0.5,0.705,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3000,313,5,10960,48,0.500000,0.6,0.390,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0

In [5]:
# ran on a sample as an example
book_id = 1001
number_of_recommendations = 20
recommendation_df = recommend(df, book_id, number_of_recommendations)
recommendation_df = recommendation_df[['book_genre','publisher_id','book_rating_norm','Cosine Similarity']]
recommendation_df # As the cosine similarity measurement gets closer to 1, then the angle between the two vectors A and B is smaller

         book_genre  publisher_id  book_rating_norm  Cosine Similarity
book_id
2259              8            38               0.2           4.792067
2737              7            31               0.8           4.792067
924               9            45               0.9           4.792067
2351             10            42               0.3           4.792067
602               7            30               1.0           4.792067
2119             10            43               0.2           4.792067
184               6            31               0.4           4.792067
1617              7            32               1.0           4.792067
1097              9            42               0.2           4.792067
393              10            42               0.6           4.792067
2577              8            38               1.0           4.792067
2555              7            36               0.6           4.792067
1288              5            24               0.2           4.792067
1809              8            39               0.8           4.792067
224               9            40               0.5           4.792067
262              10            31               0.4           4.792067
1555              8            37               1.0           4.792067
2509              9            33               0.2           4.792067
2694              8            38               0.3           4.792067
1621              9            34               0.3           4.792067

In [6]:
# ran on a sample as an example
book_id = 1318
number_of_recommendations = 20
recommendation_df = recommend(df, book_id, number_of_recommendations)
recommendation_df = recommendation_df[['book_genre','publisher_id','book_rating_norm','Cosine Similarity']]
recommendation_df # As the cosine similarity measurement gets closer to 1, then the angle between the two vectors A and B is smaller

         book_genre  publisher_id  book_rating_norm  Cosine Similarity
book_id
700               6            28               0.6           5.633985
1849              6            29               0.3           5.633985
2329              7            30               0.6           5.633985
319               5            31               0.1           5.633985
878               7            37               0.2           5.633985
1412              8            39               0.9           5.633985
1888              9            41               0.1           5.633985
521               9            35               0.9           5.633985
457               5            33               0.3           5.633985
1849              7            36               0.3           5.633985
1111              7            31               0.1           5.633985
305              10            36               0.6           5.633985
749               9            42               0.2           5.633985
1449              7            42               0.6           5.633985
1309              6            34               0.3           5.633985
1808              8            34               0.1           5.633985
1127             10            43               0.4           5.633985
303               6            30               0.7           5.633985
554               8            30               0.9           5.633985
1465              9            38               0.5           5.633985

In [7]:
# ran on a sample as an example
book_id = 700
number_of_recommendations = 20
recommendation_df = recommend(df, book_id, number_of_recommendations)
recommendation_df = recommendation_df[['book_genre','publisher_id','book_rating_norm','Cosine Similarity']]
recommendation_df # As the cosine similarity measurement gets closer to 1, then the angle between the two vectors A and B is smaller

         book_genre  publisher_id  book_rating_norm  Cosine Similarity
book_id
1800              7            31               0.2           4.553203
2694              8            38               0.9           4.553203
279               4            23               0.5           4.553203
2780              8            41               0.5           4.553203
1489              8            34               1.0           4.553203
1119              7            37               0.5           4.553203
240               9            32               0.4           4.553203
2364              5            27               0.1           4.553203
1890              6            36               0.4           4.553203
703              10            42               0.1           4.553203
515               5            35               0.9           4.553203
1849              7            39               0.5           4.553203
291               9            46               0.3           4.553203
2382              9            31               0.1           4.553203
50                8            33               0.8           4.553203
120               6            35               0.3           4.553203
1290              6            40               0.1           4.553203
2254              7            39               0.4           4.553203
1900              6            42               0.8           4.553203
2487              7            41               0.7           4.553203

In [8]:
# ran on a sample as an example
book_id = 302
number_of_recommendations = 20
recommendation_df = recommend(df, book_id, number_of_recommendations)
recommendation_df = recommendation_df[['book_genre','publisher_id','book_rating_norm','Cosine Similarity']]
recommendation_df # As the cosine similarity measurement gets closer to 1, then the angle between the two vectors A and B is smaller

         book_genre  publisher_id  book_rating_norm  Cosine Similarity
book_id
716               8            33               0.5            5.55358
2929              8            36               0.5            5.55358
708               8            42               0.8            5.55358
311              10            46               0.9            5.55358
157               9            38               0.8            5.55358
1877              5            26               0.4            5.55358
865               7            28               0.3            5.55358
106               9            33               0.8            5.55358
1028              9            44               0.5            5.55358
1539              8            40               0.1            5.55358
1794              9            33               0.6            5.55358
1939              8            42               0.7            5.55358
1421              8            48               0.3            5.55358
2856              9            44               0.7            5.55358
2721              7            46               0.7            5.55358
500              10            46               0.3            5.55358
671               5            25               0.4            5.55358
865               8            44               0.9            5.55358
1555              4            24               0.4            5.55358
2136              8            46               0.9            5.55358